.about-the-project {
  margin-inline: auto;
  margin-top: 2em;
  padding: 3em 0;
  width: 80vw;
  height: fit-content;
  background-color: silver;
  opacity: 0.9;
  text-align: center;
  overflow-wrap: break-word;

  .techniques {
    margin-bottom: 1.5em;
    .front-end-techniques,
    .back-end-techniques {
      h3 {
        font-size: 1.15em;
        margin: 0.5em 0;
        text-decoration: underline;
        &:first-child{
          margin-top: 1em;
        }
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          font-family: Cascadia Code SemiBold;
          font-size: 1em;
          font-weight: 100;
          display: inline;
          margin: 0 1em;
        }
      }
    }
  }
  .front-end-techniques{
    color: rgb(75, 118, 203);
  }
  .back-end-techniques{
    color: rgb(110, 127, 118)
  }

  .project-header {
    font-family: Cascadia Code SemiBold;
    font-size: 1.35em;
    margin: 0;
    margin-bottom: 0.5em;
  }
  .project-text {
    width: 85%;
    font-size: 1em;
    font-family: Ebrima;
    margin: 0;
    margin-bottom: 1.5em;
    margin-inline: auto;
    &:last-child{
      margin-bottom: 0;
    }
    span {
      color: rgb(161, 107, 7);
      margin-top: 1em;
      display: block;
      font-weight: 600;
    }
  }
}
