.highscore {
  width: 90vw;
  margin-inline: auto;
  margin-top: 2em;
  text-align: center;
  .top-10-all-time {
    width: 70%;
    padding-top: 2em;
    padding-bottom: 3em;
    margin-inline: auto;
    background-color: beige;
    opacity: 0.9;
    .highscore-list {
      margin-inline: auto;
      width: 70%;
      text-align: center;
      .highscore-list-header {
        th {
          border-bottom: solid 2px black;
        }
      }
    }
  }
}
