@import "./inputField.scss";
@import "./theGame.scss";
@import "./index.scss";
@import "./about.scss";
@import "./highscore.scss";
@import "./gameBoard.scss";

body {
    background-image:    url("../static/letters.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-attachment: fixed;
    height: 100vh;
}