#root {
  text-align: center;
  width: 100%;
  .the-app {
    margin-inline: auto;
    margin-top: 2em;
    padding: 0 1em;
    padding-bottom: 1em;
    width: fit-content;
    min-width: 345px;
    max-width: 960px;
    border: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: beige;

    .intro {
      h3 {
        margin: 0;
        margin-bottom: 0.5em;
      }
      p {
        font-size: 1em;
        font-weight: 100;
        margin: 0;
        margin-bottom: 0.5em;
        color: rgb(104, 103, 103);
      }
    }
    .start-game {
      #unique-letters {
        width: 2em;
      }
      label {
        margin: 0 4px;
        font-weight: 600;
        color: rgb(104, 139, 126);
      }
      .word-length {
        font-weight: 600;
        color: black;
        width: 2em;
        border-bottom: rgb(19, 184, 121) solid 2px;
      }
    }

    .lost-popup {
      white-space: pre-wrap;
    }
    .highscore-popup {
      white-space: pre-wrap;
      button,
      .add-to-highscore-button {
        cursor: pointer;
        display: block;
        margin-inline: auto;
        margin-top: 1em;
        color: white;
        background-color: rgb(19, 184, 121);
        width: 125px;
        height: 2em;
        border: rgb(119, 109, 109) solid 1px;
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
          rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
          rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        &:hover {
          background-color: rgb(67, 215, 158);
        }
      }

      #highscore-name {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }

      .add-to-highscore-button {
        background-color: rgb(186, 191, 36);
        &:hover {
          background-color: rgb(159, 174, 26);
        }
      }
      span {
        padding-top:1em;
        font-size: 1.25em;
        color: rgb(13, 168, 109);
        font-weight: bold;
      }

      p {
        font-size: 1em;
        color: rgb(104, 103, 103);
      }
      input,
      button,
      span {
        display: block;
        margin-inline: auto;
        margin-bottom: 1em;
      }
    }
    .row {
      input {
        width: 2.5em;
        height: 2.5em;
      }
    }

    .red,
    .yellow,
    .green {
      color: white;
      font-weight: 600;
    }
    .red {
      background-color: rgb(185, 31, 31);
    }
    .yellow {
      background-color: rgb(195, 195, 40);
    }
    .green {
      background-color: rgb(20, 162, 20);
    }

    h1 {
      color: rgb(98, 52, 52);
    }

    p {
      margin-top: 1.25em;
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}
