#root {
  text-align: center;
  width: 100vw;
  .the-app {
    margin-inline: auto;
    margin-top: 2em;
    padding: 1.5em 1em;
    width: fit-content;
    min-width: 345px;
    max-width: 960px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: silver;
    opacity: 0.9;
    h1 {
      font-family: Cascadia Code SemiBold;
      margin-bottom: 0.5em;
    }

    .intro {
      h3 {
        font-family: Cascadia Code SemiBold;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 0.5em;
        &:first-child{
         margin-top: 0;
        }
      }
      p {
        font-family: Ebrima;
        font-size: 1em;
        font-weight: 100;
        margin: 0;
        color: black;
        span {
          padding: 0 0.25em;
        }
      }
    }
    .start-game {
      p,
      h3 {
        font-family: Cascadia Code SemiBold;
      }
      #unique-letters {
        width: 2em;
      }
      label {
        font-family: Ebrima;
        margin: 0 4px;
      }
      .word-length {
        font-weight: 600;
        color: black;
        width: 2em;
        border-bottom: rgb(19, 184, 121) solid 2px;
      }
    }

    .lost-popup {
      white-space: pre-wrap;
    }
    .highscore-popup {
      white-space: pre-wrap;
      h3 {
        color: rgb(129, 142, 13);
        font-size: 2em;
      }
      button,
      .add-to-highscore-button {
        background-color: rgb(19, 184, 121);
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
          rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
          rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
          rgba(44, 187, 99, 0.15) 0 16px 32px;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
          sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        &:hover {
          box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
            rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
            rgba(44, 187, 99, 0.25) 0 4px 8px,
            rgba(44, 187, 99, 0.25) 0 8px 16px,
            rgba(44, 187, 99, 0.25) 0 16px 32px;
          transform: scale(1.05) rotate(-1deg);
        }
      }

      #highscore-name {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 2em;
        text-align: center;
        width: 200px;
        height: 2.5em;
      }

      .add-to-highscore-button {
        color: white;
        background-color: rgb(168, 172, 27);
        box-shadow: rgba(187, 180, 44, 0.2) 0 -25px 18px -14px inset,
          rgba(187, 180, 44, 0.15) 0 1px 2px, rgba(187, 180, 44, 0.15) 0 2px 4px,
          rgba(187, 180, 44, 0.15) 0 4px 8px,
          rgba(187, 180, 44, 0.15) 0 8px 16px,
          rgba(187, 180, 44, 0.15) 0 16px 32px;
        &:hover {
          box-shadow: rgba(187, 180, 44, 0.35) 0 -25px 18px -14px inset,
            rgba(187, 180, 44, 0.25) 0 1px 2px,
            rgba(187, 180, 44, 0.25) 0 2px 4px,
            rgba(187, 180, 44, 0.25) 0 4px 8px,
            rgba(187, 180, 44, 0.25) 0 8px 16px,
            rgba(187, 180, 44, 0.25) 0 16px 32px;
          background-color: rgb(129, 142, 13);
        }
      }
      span {
        padding-top: 1em;
        font-size: 1.5em;
        color: rgb(15, 121, 82);
        font-weight: bold;
      }
      input,
      button,
      span {
        display: block;
        margin-inline: auto;
        margin-bottom: 1em;
      }
    }
    .row {
      input {
        width: 2.5em;
        height: 2.5em;
      }
    }

    .red,
    .yellow,
    .green {
      color: white;
      font-weight: 600;
    }
    .red {
      background-color: rgb(185, 31, 31);
    }
    .yellow {
      background-color: rgb(195, 195, 40);
    }
    .green {
      background-color: rgb(20, 162, 20);
    }

    h1 {
      color: rgb(98, 52, 52);
    }

    p {
      margin-top: 1.25em;
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}
