.row input {
  width: 2em;
  height: 2em;
  margin: 0.25em 0.5em;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid grey;
}

#root {
  text-align: center;
  width: 100%;
}
#root .the-app {
  margin-inline: auto;
  margin-top: 2em;
  padding: 0 1em;
  padding-bottom: 1em;
  width: fit-content;
  min-width: 345px;
  max-width: 960px;
  border: 1px black solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: beige;
}
#root .the-app .intro h3 {
  margin: 0;
  margin-bottom: 0.5em;
}
#root .the-app .intro p {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
  margin-bottom: 0.5em;
  color: rgb(104, 103, 103);
}
#root .the-app .start-game #unique-letters {
  width: 2em;
}
#root .the-app .start-game label {
  margin: 0 4px;
  font-weight: 600;
  color: rgb(104, 139, 126);
}
#root .the-app .start-game .word-length {
  font-weight: 600;
  color: black;
  width: 2em;
  border-bottom: rgb(19, 184, 121) solid 2px;
}
#root .the-app .lost-popup {
  white-space: pre-wrap;
}
#root .the-app .highscore-popup {
  white-space: pre-wrap;
}
#root .the-app .highscore-popup button,
#root .the-app .highscore-popup .add-to-highscore-button {
  cursor: pointer;
  display: block;
  margin-inline: auto;
  margin-top: 1em;
  color: white;
  background-color: rgb(19, 184, 121);
  width: 125px;
  height: 2em;
  border: rgb(119, 109, 109) solid 1px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#root .the-app .highscore-popup button:hover,
#root .the-app .highscore-popup .add-to-highscore-button:hover {
  background-color: rgb(67, 215, 158);
}
#root .the-app .highscore-popup #highscore-name {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#root .the-app .highscore-popup .add-to-highscore-button {
  background-color: rgb(186, 191, 36);
}
#root .the-app .highscore-popup .add-to-highscore-button:hover {
  background-color: rgb(159, 174, 26);
}
#root .the-app .highscore-popup span {
  padding-top: 1em;
  font-size: 1.25em;
  color: rgb(13, 168, 109);
  font-weight: bold;
}
#root .the-app .highscore-popup p {
  font-size: 1em;
  color: rgb(104, 103, 103);
}
#root .the-app .highscore-popup input,
#root .the-app .highscore-popup button,
#root .the-app .highscore-popup span {
  display: block;
  margin-inline: auto;
  margin-bottom: 1em;
}
#root .the-app .row input {
  width: 2.5em;
  height: 2.5em;
}
#root .the-app .red,
#root .the-app .yellow,
#root .the-app .green {
  color: white;
  font-weight: 600;
}
#root .the-app .red {
  background-color: rgb(185, 31, 31);
}
#root .the-app .yellow {
  background-color: rgb(195, 195, 40);
}
#root .the-app .green {
  background-color: rgb(20, 162, 20);
}
#root .the-app h1 {
  color: rgb(98, 52, 52);
}
#root .the-app p {
  margin-top: 1.25em;
  font-size: 1.25em;
  font-weight: bold;
}

.header-list {
  list-style-type: none;
  padding-top: 2em;
}
.header-list .header-list-item {
  display: inline;
  padding: 0em 2em;
}
.header-list .header-list-item a {
  color: silver;
  font-size: 1.5em;
  text-decoration: none;
}
.header-list .header-list-item a:hover {
  color: rgb(124, 124, 124);
}

.about-the-project {
  margin-inline: auto;
  margin-top: 2em;
  padding-bottom: 3em;
  width: 80vw;
  height: 80vh;
  opacity: 0.9;
  background-color: beige;
  text-align: center;
  overflow-wrap: break-word;
}
.about-the-project .project-header:first-child {
  padding-top: 3em;
}
.about-the-project .project-text {
  width: 80%;
  margin-inline: auto;
}

.highscore {
  width: 90vw;
  margin-inline: auto;
  margin-top: 2em;
  text-align: center;
}
.highscore .top-10-all-time {
  width: 70%;
  padding-top: 2em;
  padding-bottom: 3em;
  margin-inline: auto;
  background-color: beige;
  opacity: 0.9;
}
.highscore .top-10-all-time h1 {
  color: rgb(131, 131, 131);
}
.highscore .top-10-all-time .highscore-list {
  margin-inline: auto;
  width: 70%;
  text-align: center;
}
.highscore .top-10-all-time .highscore-list .highscore-list-header th {
  color: rgb(119, 118, 118);
  border-bottom: solid 2px black;
}

.info-popup {
  white-space: pre-wrap;
  background-color: beige;
  position: fixed;
  padding: 5em 0;
  left: 20%;
  top: 25%;
  width: 60%;
  border: rgb(119, 109, 109) solid 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.generic-button, .play-button {
  cursor: pointer;
  display: block;
  color: white;
  margin-inline: auto;
  margin-top: 1em;
  background-color: rgb(19, 184, 121);
  width: 125px;
  height: 2em;
  border: rgb(119, 109, 109) solid 1px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.generic-button:hover, .play-button:hover {
  background-color: rgb(67, 215, 158);
}

.timer {
  margin-top: 1em;
}
.timer .text {
  display: block;
  font-weight: bold;
}
.timer #minute, .timer #second {
  font-size: 1em !important;
  display: inline-block;
  margin: 0 !important;
}

h4 {
  color: rgb(104, 139, 126);
}

body {
  background-image: url("../static/letters.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  height: 100vh;
}
