extends main

block content
    main
        div(class="highscore")
            div(class="top-10-all-time")
                h1 Top 10 of All-time
                ol
                    li Someone
                    li somone else
                    li Someone
                    li somone else
                    li Someone
                    li somone else
                    li Someone
                    li somone else
            div(class="top-10-other")
                div(class="top-10-fastest")
                    h2 Top 10 (Fastest)
                    ol
                        li Someone
                        li somone else
                        li Someone
                        li somone else
                        li Someone
                        li somone else
                        li Someone
                        li somone else
                div(class="top-10-longest-word")
                    h2 Top 10 (Longest word)
                    ol
                        li Someone
                        li somone else
                div(class="top-10-least-guesses")
                    h2 Top 10 (Least guesses)
                    ol
                        li Someone
                        li somone else