extends main

block content
    main
        div(id="root")

append scripts
    script(src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin)
    script(src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin)
    script(src="https://unpkg.com/babel-standalone@6.26.0/babel.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
    script(src="/static/index.js", type="text/babel")
    script(src="/static/theGame.js" async)