html
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/static/main.css" type="text/css")
        link(rel="shortcut icon" href="#")
        title Fake Wordle
    body
        header 
            ul(class="header-list")
                li(class="header-list-item"): a(href="/") The game
                li(class="header-list-item"): a(href="/about") About the project
                li(class="header-list-item"): a(href="/highscore") Highscore

block content

footer    
    div(class="footer-section")
        h3 If you like what you see,
            br
            |then hire me.
        h3(class="contact-title") Contact
        i(class="fa fa-envelope" style="font-size:1.5em")
        a(class="email" href="mailto:vedadz@gmail.com") Vedad Zuga

block scripts 