html
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/static/main.css" type="text/css")
        link(rel="shortcut icon" href="#")
        title Fake Wordle
    body
        header 
            ul(class="header-list")
                li(class="header-list-item"): a(href="/") The game
                li(class="header-list-item"): a(href="/about") About the project
                li(class="header-list-item"): a(href="/highscore") Highscore

block content

    footer    
        div(class="footer-section")
            h3 Tomtens Biograf
            p Storgatan 23
                br
                |999 00 Mellankalix
        div(class="footer-section")
            h3 Kontakta oss
            p Epost: 
                a(href="#") info@tomtensbiograf.se
            p Telefon: 999 - 000 22 33
            p Följ oss på 
                a(href="#") Facebook 
                |och 
                a(href="#") Instagram
        div(class="footer-section")
            h3 I samarbete med:
            img(src="")

block scripts 